body {
    background: #DAD9E6;
}

header {
    max-width: 100vw;
    height: 180px;
    background: #9C88AC;
}

.header-content {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.header-content h1 {
    width: 400px;
    font-size: 25px;
    font-weight: 700;
}

.header-content p {
    font-family: 'Poppins', sans-serif;
    width: 250px;
    margin-top: 5px;
    font-size: 14px;
    
}

.container-form h2 {
    font-family: 'Archivo', sans-serif;
    margin-top: 20px;
    text-align: center;
    color: #32264D;
}

.container-form h2:after {
    content: "";
    display: block;
    width: 70px;
    height: 1px;
    background: #000;
    margin: 5px auto;
}

@media (max-width: 540px){

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 140px;
    }

    .header-content {
        width: 100%;
        margin: 0;
        padding: 20px 10px 20px 10px;
        text-align: center;
    }

    .header-content h1 {
        width: 355px;
        font-size: 20px;
    }

    .header-content p {
        width: 300px;
        font-size: 15px;
        margin: 0 auto;
    }

    .container-form h2 {
        margin-top: 15px;
        font-size: 25px;
    }
    

}

@media (max-width: 414px) {

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 150px;
    }

    .header-content {
        width: 100%;
        margin: 0;
        padding: 20px 10px 10px 10px;
    }

    .header-content h1 {
        width: 390px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .container-form h2 {
        margin-top: 15px;
        font-size: 25px;
    }
    

}

@media (max-width: 375px){

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 150px;
    }

    .header-content {
        width: 100%;
        margin: 0;
        padding: 20px 10px 10px 10px;
    }

    .header-content h1 {
        width: 350px;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .container-form h2 {
        margin-top: 15px;
        font-size: 25px;
    }
    

}

@media (width: 320px){

    header {
        height: 160px;
    }

    .header-content h1 {
        width: 300px;
        font-size: 20px;
        margin-bottom: 10px;
    }

}