header {
    background: #9C88AC;
    padding: 20px;
    width: 100%;
}

.header-content {
    width: 700px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.header-content h1 {
    width: 390px;
    font-size: 30px;
    font-weight: 700;
}

form {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
    gap: 40px;
    width: 40vw;
    margin: 40px auto;
    font-size: 14px;
}

form div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

form label {
    align-self: flex-start;
}

form select {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    padding: 10px;
}

form input {
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #FFF;
    color: #000;
    padding: 10px;
}

.card {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    width: 730px;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    background: rgb(255, 255, 255, 50%);
    border-radius: 10px;
}

.card .img {
    width: 100px;
    height: 100px;
    margin: 20px;
    background: #FFF;
    border-radius: 20px;
}

.card .professional {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 150px;
    padding: 10px;
    font-size: 14px;
}

.card .professional p:nth-child(1) {
    flex-basis: 60%;
    font-weight: bold;
}

.card .professional p:nth-child(2) {
    flex-basis: 40%;
    font-weight: bold;
}

.card .professional p:nth-child(3) {
    flex-basis: 100%;
    align-self: stretch;
    text-align: justify;
}

.card .social-media {
    display: flex;
    width: 150px;
    justify-content: space-around;
}

.card .net{
    width: 50px;
    height: 50px;
    margin: 50px 0 50px 20px;
    border-radius: 20px; 
    text-align: center;
}

.card .social-media div:nth-child(1) {
    background-color: rgb(0, 205, 45, 50%);
}

.card .social-media div:nth-child(2) {
    background-color: rgb(246, 0, 0, 50%);
}

.card .net a img {
    width: 30px;
    height: 30px;
    margin: 10px;
}

@media (max-width: 1000px) {

    header {
        padding: 10px;
    }

    .header-content {
        width: 350px;
    }

    .header-content h1 {
        width: 350px;
        font-size: 25px;
        text-align: center;
    }

    form {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        width: 90vw;
        margin: 20px auto;
    }

    form select, form input {
        width: 400px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 400px;
    }

    .card .img {
        display: flex;
        width: 150px;
    }

    .card .professional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 200px;
    }

    .card .professional p {
        flex-basis: 100%;
    }

    .card .professional p:nth-child(3) {
        display: none;
    }

    .card .social-media {
        display: flex;
        width: 150px;
        justify-content: space-around;
    }

    .card .net{
        width: 50px;
        height: 50px;
        margin: 0; 
    }
    

}

@media (max-width: 700px) {

    header {
        padding: 10px;
    }

    .header-content {
        width: 290px;
    }

    .header-content h1 {
        width: 280px;
        font-size: 20px;
        text-align: center;
    }

    form {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        width: 90vw;
        margin: 20px auto;
    }

    form select, form input {
        width: 300px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 400px;
    }

    .card .img {
        display: flex;
        width: 150px;
    }

    .card .professional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 200px;
    }

    .card .professional p {
        flex-basis: 100%;
    }

    .card .professional p:nth-child(3) {
        display: none;
    }

    .card .social-media {
        display: flex;
        width: 150px;
        justify-content: space-around;
    }

    .card .net{
        width: 50px;
        height: 50px;
        margin: 0; 
    }
    

}

@media (max-width: 414px) {

    header {
        padding: 10px;
    }

    .header-content {
        width: 290px;
    }

    .header-content h1 {
        width: 280px;
        font-size: 18px;
        text-align: center;
    }

    form {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        width: 90vw;
        margin: 20px auto;
    }

    form select, form input {
        width: 250px;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        height: 400px;
    }

    .card .img {
        display: flex;
        width: 150px;
    }

    .card .professional {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
        width: 200px;
    }

    .card .professional p {
        flex-basis: 100%;
    }

    .card .professional p:nth-child(3) {
        display: none;
    }

    .card .social-media {
        display: flex;
        width: 150px;
        justify-content: space-around;
    }

    .card .net{
        width: 50px;
        height: 50px;
        margin: 0; 
    }
    

}



