* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: rgb(156,136,172);
    background: linear-gradient(180deg, rgba(156,136,172,1) 0%, rgba(255,255,255,1) 100%);
}

h1 {
    font-family: 'Archivo', sans-serif;
}


/*MAIN*/
main#container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/*MAIN UL*/
main ul {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    padding: 10px;
}

main ul li {
    margin-left: 10px;
}

main ul li:nth-child(2) {
    border-left: 1px black solid;
    padding-left: 10px;
}

main ul li a {
    font-family: 'Poppins', sans-serif;
    color: #46144F;
}

main ul li a:hover {
    color: #000;
}

/*MAIN INTRO-TEXT*/
main .intro-text {
    flex-basis: 50%;
    align-self: center;
}

main .intro-text h1 {
    font-size: 96px;
}

main .intro-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width: 300px;
}

/*MAIN IMG*/
main .img img {
    width: 450px;
    height: 450px;
}

/*MAIN FORM*/
main form {
    flex-basis: 100%;
}

main form select, main form input {
    width: 200px;
    height: 55px;
    padding: 15px;
    color: #FFF;
    font-family: 'Archivo', sans-serif;
    font-weight: 600px;
    font-size: 15px;
    line-height: 26px;
    outline: 0;
    border: none;
    border-radius: 10px;
    background-color: #46144F;
} 

main form button {
    width: 150px;
    height: 60px;
    color: #FFF;
    font-family: 'Archivo', sans-serif;
    font-weight: 600px;
    font-size: 15px;
    line-height: 26px;
    outline: 0;
    border: none;
    border-radius: 10px;
    background-color: #46144F;
    /* box-shadow: 2px 2px black; */
}

main form button:hover {
    background-color: #6b3076;
}

/*MAIN ICON*/
.icon {
    color: rgb(213, 213, 213);
    justify-content: flex-end;
}

.icon a {
    color: rgb(214, 214, 214);
}

/*MEDIA QUERIES*/

@media (max-width: 1125px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main#container {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    main .intro-text {
        text-align: center;
    }

    main .intro-text h1 {
        font-size: 70px;
        margin-top: 20px;
    }

    main .intro-text h2 {
        font-size: 20px;
        width: 300px;
        margin: 0;
    }

    main .img {
        text-align: center;
    }

    main .img img {
        width: 400px;
        height: 400px;
    }

    main form.search-container {
        text-align: center;
    }
}

@media (max-width: 780px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main#container {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    main .intro-text {
        text-align: center;
    }

    main .intro-text h1 {
        font-size: 70px;
        margin-top: 20px;
    }

    main .intro-text h2 {
        font-size: 20px;
        width: 300px;
        margin: 0;
    }

    main .img {
        text-align: center;
    }


    main .img img {
        width: 400px;
        height: 400px;
    }

    main form {
        text-align: center;
    }

    main form select, main form input, main form button {
        margin-top: 10px;
    }
}

@media (max-width: 600px) {

    main#container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
    }

    main ul {
        justify-content: space-around;
        align-items: center;

    }

    main ul li {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    main ul li:nth-child(2) {
        border: none;
        padding: 0;
    }

    main .intro-text {
        text-align: center;
    }

    main .intro-text h1 {
        font-size: 80px;
        margin-top: 20px;
    }

    main .intro-text h2 {
        font-size: 20px;
        width: 250px;
        margin-top: 10px;
    }

    main .img {
        text-align: center;
    }

    main .img img {
        width: 150px;
        height: 150px;
    }

    main form {
        text-align: center;
    }

    main form select, main form input {
        padding: 15px;
        font-size: 20px;
        margin-top: 20px;
    } 

    main form button {
        margin-top: 20px;
    }

    .icon {
        margin-top: 20px;
        text-align: center;
    }

}

@media (max-width: 414px) {

    main#container {
        padding: 5px;
    }

    main ul {
        justify-content: space-around;
        align-items: center;

    }

    main ul li {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    main ul li:nth-child(2) {
        border: none;
        padding: 0;
    }

    .img {
        display: none;
    }

    main .intro-text {
        text-align: center;
    }


    main .intro-text h1 {
        font-size: 80px;
        margin-top: 40px;
    }

    main .intro-text h2 {
        font-size: 20px;
        width: 250px;
        margin-top: 20px;
    }

    main form {
        text-align: center;
    }

    main form select, main form input {
        padding: 15px;
        font-size: 20px;
        margin-top: 40px;
    } 

    main form button {
        margin-top: 40px;
    }

    .icon {
        margin-top: 40px;
        text-align: center;
    }

}

@media (max-width: 380px) {

    main#container {
        padding: 5px;
    }

    main ul {
        justify-content: space-around;
        align-items: center;

    }

    main ul li {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    main ul li:nth-child(2) {
        border: none;
        padding: 0;
    }

    main .intro-text h1 {
        font-size: 80px;
        margin-top: 20px;
    }

    main .intro-text h2 {
        font-size: 20px;
        width: 250px;
        text-align: center;
        margin-top: 10px;
    }

    main form {
        text-align: center;
    }

    main form select, main form input {
        padding: 15px;
        font-size: 20px;
        margin-top: 20px;
    } 

    main form button {
        margin-top: 20px;
    }

    .icon {
        margin-top: 40px;
        text-align: center;
    }

}

@media (max-width: 320px) {

    main#container {
        padding: 5px;
    }

    main ul {
        justify-content: space-around;
        align-items: center;

    }

    main ul li {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    main ul li:nth-child(2) {
        border: none;
        padding: 0;
    }

    main .intro-text h1 {
        font-size: 60px;
        margin-top: 5px;
    }

    main form select, main form input {
        margin-top: 10px;
    } 

    main form button {
        margin-top: 10px;
    }
}

@media (max-width: 280px) {

    main#container {
        margin: auto;
        text-align: center;
    }

    main ul {
        justify-content: space-around;
        align-items: center;

    }

    main ul li {
        font-size: 14px;
        padding: 0;
        margin: 0;
    }

    main ul li:nth-child(2) {
        border: none;
        padding: 0;
    }

    main .intro-text h1 {
        font-size: 55px;
        margin-top: 5px;
    }

    main .intro-text h2 {
        font-size: 14px;
        margin-top: 5px;
    }

    main form select, main form input {
        margin-top: 10px;
    } 

    main form button {
        margin-top: 10px;
    }
}


